<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Steam Common Words</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <script type="application/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="application/javascript" src="{{ url_for('static', filename='scripts/searchbar.js') }}"></script>
</head>
<body>
<header id="main-header">
    <h1 id="main-h1">Steam. <span>Common Words</span></h1>
    {% block form %} {% endblock %}
    <div id="links">
        <a class="link" href="">GitHub</a>
        -
        <a class="link" href="">Donate</a>
        -
        <a class="link" href="">Contact</a>
    </div>
</header>
</body>
</html>