<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}. Common Words</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <script type="application/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="application/javascript" src="{{ url_for('static', filename='scripts/words.js') }}"></script>
    <script type="application/javascript">showWords()</script>
</head>
<body>
<header id="results-header">
    <h1 id="results-h1">Results for <span>{{ name }}</span></h1>
    <div id="return-options">
        <a id="return-back" href="{{ url_for('index') }}">Back</a>
        <p id="return-p"> | </p>
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='icons/back_icon.png') }}" alt="Steam" id="return-icon">
        </a>
    </div>
</header>
<section id="words">
    {% for word in words %}
        <span class="word" popularity="{{ word.popularity }}">{{ word.text }}</span>
    {% endfor %}
</section>

</body>
</html>